
.container-header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  //   justify-content: space-between;
  background-color: lightblue;

  .search-container {
    width: 300px;
  }
  .input {
    width: 100%;
    margin-right: 50px;
  }
}
