.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 20px;
  //   justify-content: space-between;
  background-color: lightblue;

  .search-container {
    width: 300px;
  }
  .input {
    width: 100%;
    margin-right: 50px;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
}
